::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

#assistanceWindowOuterContainer {
  outline: none;
}

#assistanceWindowTextarea:focus {
  overflow-y: auto;
}

#assistanceWindowTextarea {
  overflow-y: hidden;
}

#assistanceWindowTextarea pre::selection {
  color: white;
  background: #888888;
}
