body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/leather.png");
  margin: 0;
}

.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
