body {
  background-color: #000000;
  margin: 0;
}

.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-btn {
  padding: 1px 15px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  color: #adadad;
  text-decoration: none;
  margin: 0 auto;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

.sidebar-btn:hover {
  color: #fff;
}