::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #fff !important;
}

#clipboardHistory-textarea:focus {
  overflow-y: auto;
}

#clipboardHistory-textarea {
  overflow-y: hidden;
}

#clipboardHistory-textarea pre::selection {
  color: white;
  background: #888888;
}